* {
    box-sizing: border-box;
}

body {
    font-size: 18px;
    line-height: 28px;
    font-family: 'Lato',
        sans-serif;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

.anotherDiv {
    display: block;
    width: 100%;
    max-width: 807px;
    padding: 20px;
    margin: 0 auto;
    background-color: rgb(241, 241, 238);
}

#accordion {
    display: block;
    width: 100%;
    max-width: 807px;
    margin: 0 auto;
}

#accordHead {
    background-color: #bf082f;
    height: 43px;
    border: 1px solid rgb(221, 221, 221);
    color: white;
    font-weight: 700;
    position: relative;
}

#accordHead span {
    display: block;
    width: 80%;
    max-width: 700px;
    float: left;
    height: 21px;
    padding: 10px 30px 10px 10px;
}

#accordHead i {
    width: 10%;
    max-width: 20px;
    float: right;
    height: 21px;
    padding: 10px 50px 10px 10px;
}

#accordContent {
    /*padding: 35px 10px 50px 10px;*/
    background-color: rgb(237, 237, 237);
    font-weight: 400;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s linear;

}

#accordContentText {
    width: 50%;
    float: left;
    padding: 35px 10px 50px 10px;
}


#accordContentCall {
    display: block;
    padding: 12px;
    border-radius: 5px;
    background-color: rgb(187, 18, 34);
    color: white;
    margin-top: 30px;
}

#accordContentVid {
    width: 50%;
    float: right;
    padding-right: 15px;
    margin-bottom: 20px;
    padding: 35px 10px 50px 10px;
}

#accordContentVid div {
    width: 100%;
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

#accordContentVid div iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}


.hide {
    display: none;
}

.show {
    display: block;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

@media only screen and (max-width: 700px) {
    #accordContentVid {
        width: 100%;
        float: left;
        padding: 10px 10px 0px 10px;
    }

    #accordContentText {
        width: 100%;
        float: left;
        padding: 5px 20px 20px 20px;
        text-align: center;
    }

    #accordContentCall {

        max-width: 500px;
        margin: 20px auto;
    }

}